<!DOCTYPE html>
<html>
   <head>
    <title>RESTfull</title>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <style>
       i.icon {
        font-size: 24px;
    }
    
    .container.main{
      margin-top:5em;
    }
      #delete{
        display:inline;
      }
      
      

   
     
     
     </style>
     
  </head>
    <body>
     <div id="nav" class = "ui fixed inverted menu">
       <div class = "ui container">
         <div class = "header item"><i class="idea icon"></i>BLOGS</div>
         <a href="/blogs" class = "item">HOME</a>
         <a href="/blogs/new" class = "item">newBLOGS</a>
       </div>  
     </div>


