<!DOCTYPE html>
<html>
   <head>
    <title>RESTfull</title>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <style>
       i.icon {
        font-size: 24px;
    }
    
    .container.main{
      margin-top:5em;
    }
      #delete{
        display:inline;
      }
      
      

   
     
     
     </style>
     
  </head>
    <body>
     <div id="nav" class = "ui fixed inverted menu">
       <div class = "ui container">
         <a class = "header item" href="/"><i class="idea icon"></i>BLOGS</a>
         <a href="/blogs" class = "item">HOME</a>
         <a href="/blogs/new" class = "item">newBLOGS</a>
             <% if(!currentUser){%>
                 <a href="/register" class = "ui right item">Sign Up</a>
                 <a href="/login" class = "ui right item">Login</a>
             <% }else{ %>
               <a href="#"class = "ui right item"><%= currentUser.username%></a>
               <a href="/logout"  class = "ui right item">Log Out</a>
              <% } %>
       </div>  
     </div>
      
    


