<!DOCTYPE html>
<html>
   <head>
    <title>RESTfull</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <style>
       i.icon {
        font-size: 24px;
    }
    
    .container.main{
      margin-top:5em;
    }
      #delete{
        display:inline;
      }

     

   
     
     
     </style>
     
  </head>
    <body>
     <div id="nav" class = "ui fixed inverted menu">
       <div class = "ui container">
         <a class = "header item" href="/blogs"><i class="idea icon"></i>BLOGS</a>
         <a href="/blogs/new" class = "item">newBLOGS</a>
         <div class = "right menu">
          <% if(!currentUser){ %>
                 <a href="/register" class = "item">Sign Up</a>
                 <a href="/login" class = "item">Login</a>
             <% }else{ %>
               <a href="/myblogs" class = "item"><strong><%= currentUser.username%></strong></a>
               <a href="/logout"  class = "item">Log Out</a>
              <% } %>
         </div>
       </div>  
     </div>
      
    


