<% include ./partials/header %>


<form class="container" action="/" method="POST">
  <div class="form-group"> 
     <textarea class="form-control" rows="3" placeholderholder="Ask Question" name="question"></textarea><br>
  <button class="btn btn-primary">Submit</button>
  </div>
 </form>



<style> 
  form{
    margin-top:20px;
  }
 
  button{
    text-align:center;
  }
</style>