<% include ./partials/header %>

<div id="homeContainer" class="ui main text container">
<h1>blog site</h1>
  <p>TO ADD NEW BLOG CLICK HERE ==> <strong><a href="/blogs/new">add new blog</a></strong></p>
</div>