<% include partials/header %>


<div id="editContainer" class="ui main text container segment">
  <div id="editHeader" class="ui huge header "><strong>Edit blog</strong></div>
  <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
    <div class="filed">
      <label>TITLE</label>
      <input type="text"  name="blog[title]" value="<%= blog.title %>">
    </div>
    <div class="filed">
       <label>IMAGE</label>
       <input type="text" name="blog[image]" value="<%= blog.image %>">
    </div>
    <div class="field">
       <label>Blog Content</label>
       <textarea name="blog[body]"><%= blog.body %> </textarea>
    </div>
      <input class="ui inverted green button big" type="submit">
  </form>
</div>

<style>
  
  body{
    background:#1F2833;
  }
 #editHeader{
    color:red;
  }
  
  #editContainer{
    background:#F2F2F2;
  }

</style>