



<% include ./partials/header %>
<br><br>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card" >

    <!-- Card body -->
    <div class="card-body">

        <!-- Default form subscription -->
        <form action="/forgot" method="POST">
            <p class="h4 text-center py-4"><i class="fa fa-lock prefix grey-text"></i> Forgot pasword</p>

            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Enter email</label>
          
            <input type="eamil" name="email" id="defaultFormCardNameEx" class="form-control" placeholder="email">
          
          <br>

            <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" type="submit">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
            </div>
          <div><i class="fa fa-arrow-left"></i><a style="z-index: 2"; href="/login"> back</a></div>
        </form>
        <!-- Default form subscription -->

    </div>
    <!-- Card body -->

</div>
<!-- Card -->
  
  </div>
  <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
</div>
<!-- Card -->







