

<% include ./partials/header %>
<br><br>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card" >

    <!-- Card body -->
    <div class="card-body">

        <!-- Default form subscription -->
        <form action="/login" method="POST">
            <p class="h4 text-center py-4"> <i class="fa fa-lock prefix grey-text"></i> Log-In</p>

            <!-- Default input name -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Your Username</label>
          
            <input type="text" name="username" id="defaultFormCardNameEx" class="form-control" placeholder="Username">

            <br>
           
            <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">Your password</label>
            <input type="password" name="password" id="defaultFormCardEmailEx" class="form-control" placeholder="Password">
          <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="/forgot" class="blue-text ml-1"> Password?</a></p>

            <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" type="submit">Log-in<i class="fa fa-paper-plane-o ml-2"></i></button>
            </div>
          
          <div><i class="fa fa-arrow-left"></i><a style="z-index: 2"; href="/"> back</a></div><p class="font-small blue-text d-flex justify-content-end">Don't have an account? <a href="/register" class="blue-text ml-1"> Sign up</a></p>

        </form>
        <!-- Default form subscription -->

    </div>
    <!-- Card body -->

</div>
<!-- Card -->
  
  </div>
  <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
</div>
<!-- Card -->








