<% include ./partials/header %>


<div id="newContainer" class="ui main text container segment">
  <div id="newHeader" class="ui huge header "><strong>Start NEW BLOG</strong></div>
  <form id="newForm" class="ui form" action="/blogs" method="POST">
    <div class="filed">
      <label>TITLE:</label>
      <input type="text" placeholder="Blog Name" name="title">
    </div>
    <div class="filed">
       <label>IMAGE:</label>
       <input type="text" placeholder="Image" name="image">
    </div>
    <div class="field">
       <label>Blog Content-</label>
       <textarea class="form-control" rows="3" name="body"></textarea><br>
    </div>
      <input class="ui inverted green button big" type="submit">
  </form>
</div>


<style>
  
  body{
    background:#1F2833;
  }
 #newHeader{
    color:red;
  }
  
  #newContainer{
    background:#F2F2F2;
  }



  form{
    margin-top:20px;
  }
 
</style>


<% include partials/footer %>