<% include ./partials/header %>


<div class="ui main text container segment">
  <div class="ui huge header ">NEW BLOGS</div>
  <form class="ui form" action="/blogs" method="POST">
    <div class="filed">
      <label>TITLE</label>
      <input type="text" placeholder="Blog Name" name="blog[title]">
    </div>
    <div class="filed">
       <label>IMAGE</label>
       <input type="text" placeholder="Image" name="blog[image]">
    </div>
    <div class="field">
       <label>Blog Content</label>
       <textarea name="blog[body]"></textarea>
    </div>
      <input class="ui inverted green button big" type="submit">
  </form>
</div>


<% include partials/footer %>