<% include ./partials/header %>


<div id="newContainer" class="ui main text container segment">
  <div id="newHeader" class="ui huge header ">NEW BLOGS</div>
  <form id="newForm" class="ui form" action="/blogs" method="POST">
    <div class="filed">
      <label>TITLE</label>
      <input type="text" placeholder="Blog Name" name="title">
    </div>
    <div class="filed">
       <label>IMAGE</label>
       <input type="text" placeholder="Image" name="image">
    </div>
    <div class="field">
       <label>Blog Content</label>
       <textarea name="body"></textarea>
    </div>
      <input class="ui inverted green button big" type="submit">
  </form>
</div>


<style>
  
  body{
    background:#022747;
  }
 #newHeader{
    color:red;
  }
  
  #newContainer{
    background:#1995B6;
  }

</style>


<% include partials/footer %>